<h1>Create User</h1>

<div class="container container__form-create">
    <form class="container__form"
          [formGroup]="form" (ngSubmit)="submitForm()"
    >
        <p>Name:</p>
        <input type="text" class="form-input" formControlName="name"/>
        <div
            *ngIf="
            form.controls['name'].invalid &&
            (form.controls['name'].dirty ||
            form.controls['name'].touched)
            "
            class="alert"
        >
            <div *ngIf="form.controls['name'].errors">
                Имя введено неверно
            </div>
        </div>

        <p>Email:</p>
        <input type="text" class="form-input" formControlName="email" />
        <div
            *ngIf="
            form.controls['email'].invalid &&
            (form.controls['email'].dirty ||
            form.controls['email'].touched)
            "
            class="alert"
        >
            <div *ngIf="form.controls['email'].errors">
                Email введен неверно
            </div>
        </div>

        <p>Website:</p>
        <input type="text" class="form-input" formControlName="website"/>
        <div
            *ngIf="
            form.controls['website'].invalid &&
            (form.controls['website'].dirty ||
            form.controls['website'].touched)
            "
            class="alert"
        >
            <div *ngIf="form.controls['website'].errors">
                Website введен неверно
            </div>
        </div>

        <p>Company Name:</p>
        <input type="text" class="form-input" formControlName="companyName"/>
        <div
            *ngIf="
            form.controls['companyName'].invalid &&
            (form.controls['companyName'].dirty ||
            form.controls['companyName'].touched)
            "
            class="alert"
        >
            <div *ngIf="form.controls['companyName'].errors">
                Company Name введен неверно
            </div>
        </div>

        <button [disabled]="form.invalid">
            Create User
        </button>
    </form>
</div>