<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="conteiner">
    <ul>
      <li class=""><a href="http://localhost:4200/users">Пользователи</a></li>
      <li class=""><a href="http://localhost:4200/todos">Todos</a></li>
      <li class=""><a href="#">Услуги</a></li>
      <li class=""><a href="#">Контакты</a></li>
    </ul>
  </div>
</body>
</html>

<router-outlet></router-outlet>




